* {
    margin: 0;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    width: auto;
    height: 80px;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-links a {
    color: #f9faf8;
    margin: 30px;
    text-decoration: none;
}